.summary{
    background-color: #FF9142;
    padding:0 !important;
    overflow-y:scroll;
    scrollbar-width:thin;
}
.summaryContainer{
    position: sticky;
    top: 0;
    background-color: #FF4F30 !important;
    font-family: "Trebuchet MS" ,sans-serif;
    font-weight: lighter;
    color: #eee;
    font-size: 1.2em;
}

.summaryContainer>th{
    padding: 0.5em;
}

.truckSummary{
    font-size: initial;
}

.tableSummary{
    border-radius: 10px 10px 0 0 !important;
    border-top-right-radius: 0 !important;
}
.summaryTab>td{
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    text-align: center;
}
.summaryTab>td:first-child{
    text-align: left !important;
    padding-left: 1em;
}

div[result="true"]{
    display: none;
}

div[result="false"]{
    display: block;
}

@media screen and (max-width: 750px){
    .summary{
        width: 90%;
    }

    .resultSetContainer{
        width: 90% !important;
    }

    div[result]{
        display: none;
    }

}