
.tablePermit{
  border-collapse: collapse;
  width: 100%;
  border-radius: 1em 1em 0 0;
  overflow:hidden;
}

.theadPermit{
  position: sticky;
  position: -webkit-sticky;
  top:20.75em;
}

thead[data-result="true"]{
  top:1.2rem;
}

.labelContainer {
  background-color: #FFD615;
}

.labelContainer>th{
  font-family: "Segoe UI Semibold", sans-serif;
  padding: 0.5em 0 0.5em 0;
  font-size: 1.2em;
}

.resultSetContainer{
  width: 70%;
  margin: 1em auto 5em;
}

.fullscreen{
  display: inline-block;
  position: relative;
  color: whitesmoke;
  cursor: pointer;
  height: min-content;
}

.fullscreen:hover{
  text-decoration: underline;
}

.resultSet{
  background-color: #485674;
  padding:0.5em 0 0.5em 0;
}

.controls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

.datepicker {
  flex-basis: 100%;
  padding: 0.2em;
}

.datepicker > select{
  display: block;
  width: 100%;
  align-self: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1em;
}

.topElement{
  position:sticky;
  top:0;
  height: 21em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  z-index:1;
  background-color:#E62A58;
}

.button{
  display: block;
  cursor: pointer;
  width: 50%;
  margin: auto;
  height: 2rem;
  border-radius: 10px;
  border: none;
  background-color: #e0c45c;
  font-size: 110%;
  font-family: Tahoma, serif;
}

.button:hover{
  background-color: #28c7fa;
  transition-duration: 300ms;
}

div[data-result="true"]{
  height: min-content !important;
}

@media screen and (max-width: 750px){

  #result-control-toggler{
    display: none;
  }

  .resultSetContainer, .summary{
    display: none;
    height: 0;
    width: 0;
  }

  .fullscreen{
    display: none;
  }

  .container{
    position: relative;
    top: auto;
  }

  .addPermit{
    display: block;
    width: 90%;
  }
  .topElement{
    position: relative;
    top: auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    overflow: auto;
  }

  .topElement>*{
    align-self: center;
    overflow: auto;
  }

  .fullscreen{
    position: initial;
  }

  .controls{
    margin-bottom: 5rem;
  }

  footer{
    z-index: 20;
    position: fixed;
    bottom: 0;
    margin-top: 10rem;
  }

  div[data-view="true"]{
    display: block;
  }

  div[data-view="false"]{
    display: none !important;
  }

  div[data-result]{
    height: min-content !important;
  }

  thead[data-result]{
    top:1.2rem;
  }

}

@media screen and (min-width: 751px){
  footer{
    display: none;
  }
}


/*************************** CSS LOADER **********************************/

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  overflow: hidden;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #E62A58;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/************************************************************************/