
.tablePermit{
  border-collapse: collapse;
  width: 100%;
  border-radius: 1em 1em 0 0;
  overflow:hidden;
}

.theadPermit{
  position: sticky;
  position: -webkit-sticky;
  top:20.75em;
}

.labelContainer {
  background-color: #FFD615;
}

.labelContainer>th{
  font-family: "Segoe UI Semibold", sans-serif;
  padding: 0.5em 0 0.5em 0;
  font-size: 1.2em;
}

.resultSetContainer{
  width: 70%;
  margin: 1em auto auto;
}

.resultSet{
  background-color: #485674;
  padding:0.5em 0 0.5em 0;
}

.topElement{
  position:sticky;
  top:0;
  height: 21em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  z-index:1;
  background-color:#E62A58;
}